# ML Project

### BUZZ In Social Media

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from pandas.plotting import scatter_matrix
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')
from pandas import ExcelWriter
from sklearn.model_selection import cross_val_score
from sklearn.base import BaseEstimator
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge
from sklearn.svm import LinearSVR
from sklearn.svm import SVR

In [38]:
columnnames = ['NCD_0',
'NCD_1',
'NCD_2',
'NCD_3',
'NCD_4',
'NCD_5',
'NCD_6',
'AI_0',
'AI_1',
'AI_2',
'AI_3',
'AI_4',
'AI_5',
'AI_6',
'AS(NA)_0',
'AS(NA)_1',
'AS(NA)_2',
'AS(NA)_3',
'AS(NA)_4',
'AS(NA)_5',
'AS(NA)_6',
'BL_0',
'BL_1',
'BL_2',
'BL_3',
'BL_4',
'BL_5',
'BL_6',
'NAC_0',
'NAC_1',
'NAC_2',
'NAC_3',
'NAC_4',
'NAC_5',
'NAC_6',
'AS(NAC)_0',
'AS(NAC)_1',
'AS(NAC)_2',
'AS(NAC)_3',
'AS(NAC)_4',
'AS(NAC)_5',
'AS(NAC)_6',
'CS_0',
'CS_1',
'CS_2',
'CS_3',
'CS_4',
'CS_5',
'CS_6',
'AT_0',
'AT_1',
'AT_2',
'AT_3',
'AT_4',
'AT_5',
'AT_6',
'NA_0',
'NA_1',
'NA_2',
'NA_3',
'NA_4',
'NA_5',
'NA_6',
'ADL_0',
'ADL_1',
'ADL_2',
'ADL_3',
'ADL_4',
'ADL_5',
'ADL_6',
'NAD_0',
'NAD_1',
'NAD_2',
'NAD_3',
'NAD_4',
'NAD_5',
'NAD_6',
'NAD']

In [39]:
data = pd.read_table('Twitter.data', sep=',')
data

,0,2,0.1,0.2,1,1.1,1.2,0.3,1.3,0.4,...,1.000000.14,1.000000.15,0.12,2.2,0.13,0.14,1.14,1.15,1.16,0.0
0,2,1,0,0,0,0,4,2,1,0,...,0.000000,1.000000,2,1,0,0,0,0,4,0.5
1,1,0,0,0,0,4,1,1,0,0,...,1.000000,1.000000,1,0,0,0,0,4,1,0.0
2,1,0,0,1,0,0,1,1,0,0,...,0.000000,1.000000,1,0,0,1,0,0,1,2.5
3,0,1,0,0,1,2,3,0,1,0,...,1.000000,1.000000,0,1,0,0,1,2,3,0.5
4,1,0,0,1,2,3,0,1,0,0,...,1.000000,0.000000,1,0,0,1,2,3,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583244,1289,1228,1343,1999,1789,1643,1626,582,487,506,...,1.143549,1.185776,1300,1240,1352,2006,1797,1651,1631,2120.0
583245,1228,1343,1999,1789,1643,1626,2582,487,506,752,...,1.185776,1.217879,1240,1352,2006,1797,1651,1631,2584,1490.0
583246,1343,1999,1789,1643,1626,2582,1649,506,752,663,...,1.217879,1.230072,1352,2006,1797,1651,1631,2584,1656,1407.5
583247,1689,1468,0,1721,1699,1565,1688,618,610,0,...,1.129936,1.100945,1702,1478,0,1722,1702,1570,1694,1465.5
583248,1468,0,1721,1699,1565,1688,1453,610,0,681,...,1.100945,1.185185,1478,0,1722,1702,1570,1694,1458,1606.0

In [40]:
data.columns = columnnames
data.describe()

,NCD_0,NCD_1,NCD_2,NCD_3,NCD_4,NCD_5,NCD_6,AI_0,AI_1,AI_2,...,ADL_5,ADL_6,NAD_0,NAD_1,NAD_2,NAD_3,NAD_4,NAD_5,NAD_6,NAD
count,583249.000000,583249.000000,583249.000000,583249.000000,583249.000000,583249.000000,583249.000000,583249.000000,583249.000000,583249.000000,...,583249.000000,583249.000000,583249.000000,583249.000000,583249.000000,583249.000000,583249.000000,583249.000000,583249.000000,583249.000000
mean,140.339881,136.770378,159.679545,181.592402,201.097788,220.175747,219.388589,71.038172,69.829749,82.198344,...,1.136689,1.140372,140.790102,137.181502,160.106196,182.057752,201.596826,220.706276,219.937239,191.279821
std,431.772970,432.305464,502.057815,574.884157,630.448918,669.206442,672.182719,196.876865,202.199911,239.523223,...,1.432328,1.552315,432.625285,433.026946,502.774795,575.658466,631.258804,670.051490,673.033057,612.352828
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,3.000000,4.000000,4.000000,5.000000,6.000000,6.000000,2.000000,2.000000,2.000000,...,1.000000,1.000000,3.000000,3.000000,4.000000,4.000000,5.000000,6.000000,6.000000,4.500000
50%,18.000000,17.000000,21.000000,24.000000,27.000000,31.000000,30.000000,11.000000,11.000000,13.000000,...,1.000000,1.000000,18.000000,17.000000,21.000000,24.000000,27.000000,31.000000,31.000000,25.500000
75%,104.000000,100.000000,115.000000,131.000000,147.000000,166.000000,164.000000,59.000000,57.000000,65.000000,...,1.090909,1.091298,104.000000,101.000000,115.000000,131.000000,148.000000,167.000000,165.000000,139.000000
max,24210.000000,29574.000000,37505.000000,72366.000000,79079.000000,79079.000000,79079.000000,18654.000000,22035.000000,29402.000000,...,262.000000,295.000000,24301.000000,29574.000000,37505.000000,72366.000000,79083.000000,79083.000000,79083.000000,75724.500000

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583249 entries, 0 to 583248
Data columns (total 78 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   NCD_0      583249 non-null  int64
 1   NCD_1      583249 non-null  int64
 2   NCD_2      583249 non-null  int64
 3   NCD_3      583249 non-null  int64
 4   NCD_4      583249 non-null  int64
 5   NCD_5      583249 non-null  int64
 6   NCD_6      583249 non-null  int64
 7   AI_0       583249 non-null  int64
 8   AI_1       583249 non-null  int64
 9   AI_2       583249 non-null  int64
 10  AI_3       583249 non-null  int64
 11  AI_4       583249 non-null  int64
 12  AI_5       583249 non-null  int64
 13  AI_6       583249 non-null  int64
 14  AS(NA)_0   583249 non-null  float64
 15  AS(NA)_1   583249 non-null  float64
 16  AS(NA)_2   583249 non-null  float64
 17  AS(NA)_3   583249 non-null  float64
 18  AS(NA)_4   583249 non-null  float64
 19  AS(NA)_5   583249 non-null  float64
 20  AS(NA)_6   583249 non-null  float64
 21  BL_0       583249 non-null  float64
 22  BL_1       583249 non-null  float64
 23  BL_2       583249 non-null  float64
 24  BL_3       583249 non-null  float64
 25  BL_4       583249 non-null  float64
 26  BL_5       583249 non-null  float64
 27  BL_6       583249 non-null  float64
 28  NAC_0      583249 non-null  int64
 29  NAC_1      583249 non-null  int64
 30  NAC_2      583249 non-null  int64
 31  NAC_3      583249 non-null  int64
 32  NAC_4      583249 non-null  int64
 33  NAC_5      583249 non-null  int64
 34  NAC_6      583249 non-null  int64
 35  AS(NAC)_0  583249 non-null  float64
 36  AS(NAC)_1  583249 non-null  float64
 37  AS(NAC)_2  583249 non-null  float64
 38  AS(NAC)_3  583249 non-null  float64
 39  AS(NAC)_4  583249 non-null  float64
 40  AS(NAC)_5  583249 non-null  float64
 41  AS(NAC)_6  583249 non-null  float64
 42  CS_0       583249 non-null  float64
 43  CS_1       583249 non-null  float64
 44  CS_2       583249 non-null  float64
 45  CS_3       583249 non-null  float64
 46  CS_4       583249 non-null  float64
 47  CS_5       583249 non-null  float64
 48  CS_6       583249 non-null  float64
 49  AT_0       583249 non-null  float64
 50  AT_1       583249 non-null  float64
 51  AT_2       583249 non-null  float64
 52  AT_3       583249 non-null  float64
 53  AT_4       583249 non-null  float64
 54  AT_5       583249 non-null  float64
 55  AT_6       583249 non-null  float64
 56  NA_0       583249 non-null  int64
 57  NA_1       583249 non-null  int64
 58  NA_2       583249 non-null  int64
 59  NA_3       583249 non-null  int64
 60  NA_4       583249 non-null  int64
 61  NA_5       583249 non-null  int64
 62  NA_6       583249 non-null  int64
 63  ADL_0      583249 non-null  float64
 64  ADL_1      583249 non-null  float64
 65  ADL_2      583249 non-null  float64
 66  ADL_3      583249 non-null  float64
 67  ADL_4      583249 non-null  float64
 68  ADL_5      583249 non-null  float64
 69  ADL_6      583249 non-null  float64
 70  NAD_0      583249 non-null  int64
 71  NAD_1      583249 non-null  int64
 72  NAD_2      583249 non-null  int64
 73  NAD_3      583249 non-null  int64
 74  NAD_4      583249 non-null  int64
 75  NAD_5      583249 non-null  int64
 76  NAD_6      583249 non-null  int64
 77  NAD        583249 non-null  float64
dtypes: float64(43), int64(35)
memory usage: 347.1 MB

In [42]:
X = data.iloc[ : ,0:77]
y = data.iloc[ : ,77:78]

In [43]:
#For Model Selection we execute on 10% of the data
Dummytrain,sample_data,Dummytrain2,sample_target = train_test_split(X, y, shuffle = True, test_size = 0.3)

X = sample_data
y = sample_target

X_train_org, X_test_org, y_train, y_test = train_test_split(X, y, random_state=0)

In [44]:
#We choose the MinMaxScaler to scale the data
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train_org)
X_test = scaler.transform(X_test_org)

X_full_scaled = scaler.fit_transform(X)

In [45]:
X_train.shape

(131231, 77)

In [46]:
from sklearn.ensemble import BaggingRegressor

#### Rigde Regression

In [47]:
model_name = 'RidgeRegression(Bagging)'

In [48]:
#From Project 2 we have seen that the optimum value of alpha for Ridge Regression is 0.1

ridge = Ridge(alpha=0.1)
bag_reg = BaggingRegressor(ridge, n_estimators = 100, max_samples= 500, n_jobs = -1, random_state=0)

In [49]:
bag_reg.fit(X_train, y_train)
train_score = bag_reg.score(X_train, y_train)
test_score = bag_reg.score(X_test, y_test)

In [50]:
best_parameters = 'From Proj2: alpha=0.1'
report_table = [[model_name, best_parameters, train_score, test_score]]

In [51]:
#Appending the model specific report
report_tabledf = pd.DataFrame(report_table, columns = ['Model', 'Best Parameters', 'Train accuracy', 'Test accuracy']).set_index('Model', drop=True)
writer = ExcelWriter('RegressionReport_Project3.xlsx')
report_tabledf.to_excel(writer,'Sheet1')
writer.save()
report_tabledf

                                Best Parameters  Train accuracy  Test accuracy
Model
RidgeRegression(Bagging)  From Proj2: alpha=0.1        0.851705       0.867295

#### Lasso Regression

In [52]:
model_name = 'LassoRegression(Bagging)'

In [53]:
from sklearn.linear_model import Lasso

#From Project 2 we have found that alpha=0.01 is the best parameter for Lasso Regression
lasso = Lasso(alpha=0.01)
bag_reg_lasso = BaggingRegressor(lasso, n_estimators = 100, max_samples= 500, n_jobs = -1, random_state=0)

In [54]:
bag_reg_lasso.fit(X_train, y_train)
train_score = bag_reg_lasso.score(X_train, y_train)
test_score = bag_reg_lasso.score(X_test, y_test)

In [55]:
best_parameters = 'From Proj2: alpha=0.01'
report_table = report_table + [[model_name, best_parameters, train_score, test_score]]

In [56]:
#Appending the model specific report
report_tabledf = pd.DataFrame(report_table, columns = ['Model', 'Best Parameters', 'Train accuracy', 'Test accuracy']).set_index('Model', drop=True)
writer = ExcelWriter('RegressionReport_Project3.xlsx')
report_tabledf.to_excel(writer,'Sheet1')
writer.save()
report_tabledf

,Best Parameters,Train accuracy,Test accuracy
Model,,,
RidgeRegression(Bagging),From Proj2: alpha=0.1,0.851705,0.867295
LassoRegression(Bagging),From Proj2: alpha=0.01,0.905779,0.952089

#### Linear SVR

In [57]:
model_name = 'LinearSVR(Pasting)'

In [58]:
#From Proj2 we know thet C=1000 best parameter for LinearSVR
#bootstrap = False means Pasting
regressor = LinearSVR(C=1000)
bag_reg_LinSVR = BaggingRegressor(regressor, n_estimators = 100, max_samples= 500, bootstrap=False, n_jobs = -1, random_state=0)

In [59]:
bag_reg_LinSVR.fit(X_train, y_train)
train_score = bag_reg_LinSVR.score(X_train, y_train)
test_score = bag_reg_LinSVR.score(X_test, y_test)

In [60]:
best_parameters = 'From Proj2: C=1000'
report_table = report_table + [[model_name, best_parameters, train_score, test_score]]

In [61]:
#Appending the model specific report
report_tabledf = pd.DataFrame(report_table, columns = ['Model', 'Best Parameters', 'Train accuracy', 'Test accuracy']).set_index('Model', drop=True)
writer = ExcelWriter('RegressionReport_Project3.xlsx')
report_tabledf.to_excel(writer,'Sheet1')
writer.save()
report_tabledf

,Best Parameters,Train accuracy,Test accuracy
Model,,,
RidgeRegression(Bagging),From Proj2: alpha=0.1,0.851705,0.867295
LassoRegression(Bagging),From Proj2: alpha=0.01,0.905779,0.952089
LinearSVR(Pasting),From Proj2: C=1000,0.786812,0.780189

#### GRADIENT BOOSTING REGRESSOR

In [62]:
from sklearn.ensemble import GradientBoostingRegressor

In [63]:
model_name ='GradientBoostingRegressor'

In [64]:
#There is a trade-off between learning rate and number of estimators, hence we will do a grid search

gbrt = GradientBoostingRegressor(max_depth=3, random_state=0)
param_grid = {'n_estimators': [100, 200], 'learning_rate':[0.5, 1.0]}

In [65]:
grid_gbrt = GridSearchCV(gbrt, param_grid, cv=5, n_jobs=-1, return_train_score=True)

In [66]:
grid_gbrt.fit(X_train, y_train)
train_score = grid_gbrt.score(X_train, y_train)
test_score = grid_gbrt.score(X_test, y_test)

In [67]:
best_parameters = str(grid_gbrt.best_params_)
print("Best parameters: {}".format(grid_gbrt.best_params_))
report_table = report_table + [[model_name, best_parameters, train_score, test_score]]

Best parameters: {'learning_rate': 0.5, 'n_estimators': 100}

In [68]:
#Appending the model specific report
report_tabledf = pd.DataFrame(report_table, columns = ['Model', 'Best Parameters', 'Train accuracy', 'Test accuracy']).set_index('Model', drop=True)
writer = ExcelWriter('RegressionReport_Project3.xlsx')
report_tabledf.to_excel(writer,'Sheet1')
writer.save()
report_tabledf

,Best Parameters,Train accuracy,Test accuracy
Model,,,
RidgeRegression(Bagging),From Proj2: alpha=0.1,0.851705,0.867295
LassoRegression(Bagging),From Proj2: alpha=0.01,0.905779,0.952089
LinearSVR(Pasting),From Proj2: C=1000,0.786812,0.780189
GradientBoostingRegressor,"{'learning_rate': 0.5, 'n_estimators': 100}",0.976883,0.884747